<h1>Showing selected article</h1>

<p>
  Title: <%= @article.title %>

</P>


<p>
  Description: <%= @article.description %>

</p>
<p><b><%= link_to 'Edit this article', edit_article_path(@article) %></p>
<p><b><%= link_to 'Back to index', articles_path %></p>